In [1]:
from autogluon.timeseries import TimeSeriesPredictor, TimeSeriesDataFrame

df = TimeSeriesDataFrame("https://autogluon.s3.amazonaws.com/datasets/timeseries/m4_hourly/train.csv")


df

                             target
item_id timestamp
H1      1750-01-01 00:00:00   605.0
        1750-01-01 01:00:00   586.0
        1750-01-01 02:00:00   586.0
        1750-01-01 03:00:00   559.0
        1750-01-01 04:00:00   511.0
...                             ...
H414    1750-02-09 19:00:00    48.0
        1750-02-09 20:00:00    41.0
        1750-02-09 21:00:00    35.0
        1750-02-09 22:00:00    26.0
        1750-02-09 23:00:00    17.0

[353500 rows x 1 columns]

In [2]:
predictor = TimeSeriesPredictor(prediction_length=48).fit(
    df,
    hyperparameters={
        "Chronos": {"model_path": "amazon/chronos-bolt-base"},
    },
)

predictions = predictor.predict(df)

Beginning AutoGluon training...
AutoGluon will save models to 'c:\Users\emreq\Desktop\Genel\Time Series\AutogluonModels\ag-20250113_153600'
=================== System Info ===================
AutoGluon Version:  1.2
Python Version:     3.11.9
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.26100
CPU Count:          12
GPU Count:          0
Memory Avail:       18.32 GB / 31.71 GB (57.8%)
Disk Space Avail:   420.17 GB / 930.65 GB (45.1%)
===================================================

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'amazon/chronos-bolt-base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 48,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': False,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'h'
Provided train_data has 353500 rows, 414 time series. Median time series length is 960 (min=700, max=960).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2025-01-13 18:36:03
Models that will be trained: ['Chronos[amazon__chronos-bolt-base]']
Training timeseries model Chronos[amazon__chronos-bolt-base].

config.json:   0%|          | 0.00/1.12k [00:00<?, ?B/s]

model.safetensors:   0%|          | 0.00/821M [00:00<?, ?B/s]

	-0.0371       = Validation score (-WQL)
	6.67    s     = Training runtime
	150.52  s     = Validation (prediction) runtime
Not fitting ensemble as only 1 model was trained.
Training complete. Models trained: ['Chronos[amazon__chronos-bolt-base]']
Total runtime: 157.21 s
Best model: Chronos[amazon__chronos-bolt-base]
Best model score: -0.0371
Model not specified in predict, will default to the model with the best validation score: Chronos[amazon__chronos-bolt-base]

In [4]:
predictions

                                   mean         0.1         0.2         0.3  \
item_id timestamp
H1      1750-01-30 04:00:00  627.831421  603.477600  613.028076  619.449707
        1750-01-30 05:00:00  569.090088  545.778442  555.532104  561.457397
        1750-01-30 06:00:00  527.125488  503.927795  513.430237  519.292419
        1750-01-30 07:00:00  496.660797  472.289124  481.664764  487.926605
        1750-01-30 08:00:00  471.794312  446.994202  456.408813  462.621429
...                                 ...         ...         ...         ...
H414    1750-02-11 19:00:00   68.966614   56.261818   60.517693   63.595215
        1750-02-11 20:00:00   56.604858   45.768063   49.486401   52.011078
        1750-02-11 21:00:00   48.549843   37.572971   41.193443   43.914883
        1750-02-11 22:00:00   36.098328   26.639954   29.737972   32.019718
        1750-02-11 23:00:00   24.513184   17.821159   19.992668   21.585640

                                    0.4         0.5         0.6         0.7  \
item_id timestamp
H1      1750-01-30 04:00:00  624.117615  627.831421  630.954224  634.322327
        1750-01-30 05:00:00  565.891785  569.090088  571.729370  574.646179
        1750-01-30 06:00:00  523.638672  527.125488  530.140503  532.990845
        1750-01-30 07:00:00  492.667816  496.660797  500.231720  503.531006
        1750-01-30 08:00:00  467.512756  471.794312  475.997375  480.024414
...                                 ...         ...         ...         ...
H414    1750-02-11 19:00:00   66.313797   68.966614   72.141113   76.191330
        1750-02-11 20:00:00   54.295898   56.604858   59.491726   63.056496
        1750-02-11 21:00:00   46.205227   48.549843   51.327381   54.787708
        1750-02-11 22:00:00   34.034725   36.098328   38.410793   41.205776
        1750-02-11 23:00:00   23.114746   24.513184   26.053894   27.980156

                                    0.8         0.9
item_id timestamp
H1      1750-01-30 04:00:00  638.454285  644.605469
        1750-01-30 05:00:00  578.055847  583.810425
        1750-01-30 06:00:00  536.697510  542.778259
        1750-01-30 07:00:00  507.481720  514.211182
        1750-01-30 08:00:00  484.534180  491.856201
...                                 ...         ...
H414    1750-02-11 19:00:00   81.586182   90.171913
        1750-02-11 20:00:00   67.855186   75.644562
        1750-02-11 21:00:00   59.253620   66.323471
        1750-02-11 22:00:00   44.832317   50.904163
        1750-02-11 23:00:00   30.588699   35.066551

[19872 rows x 10 columns]

In [2]:
import pandas as pd  # requires: pip install pandas
import torch
from chronos import BaseChronosPipeline

pipeline = BaseChronosPipeline.from_pretrained(
    "amazon/chronos-bolt-base",
    device_map="cuda",  # use "cpu" for CPU inference and "mps" for Apple Silicon
    torch_dtype=torch.bfloat16,
)

df = pd.read_csv(
    "https://raw.githubusercontent.com/AileenNielsen/TimeSeriesAnalysisWithPython/master/data/AirPassengers.csv"
)

# context must be either a 1D tensor, a list of 1D tensors,
# or a left-padded 2D tensor with batch as the first dimension
# Chronos-Bolt models generate quantile forecasts, so forecast has shape
# [num_series, num_quantiles, prediction_length].
forecast = pipeline.predict(
    context=torch.tensor(df["#Passengers"]), prediction_length=12
)

Passing a tuple of `past_key_values` is deprecated and will be removed in Transformers v4.48.0. You should pass an instance of `EncoderDecoderCache` instead, e.g. `past_key_values=EncoderDecoderCache.from_legacy_cache(past_key_values)`.

In [4]:
df

       Month  #Passengers
0    1949-01          112
1    1949-02          118
2    1949-03          132
3    1949-04          129
4    1949-05          121
..       ...          ...
139  1960-08          606
140  1960-09          508
141  1960-10          461
142  1960-11          390
143  1960-12          432

[144 rows x 2 columns]

In [3]:
forecast

tensor([[[414.7913, 417.5932, 452.1504, 466.1600, 470.8299, 528.7365, 581.0392,
          582.9071, 516.5948, 437.2067, 388.1729, 421.3291],
         [425.0650, 427.8669, 465.2260, 477.3677, 482.9716, 541.8121, 597.8508,
          601.5867, 534.3403, 454.9523, 402.6496, 439.0747],
         [431.6029, 435.3388, 474.5658, 484.8395, 489.5094, 551.1519, 610.9264,
          612.7944, 545.5481, 466.1600, 411.9893, 450.2824],
         [437.2067, 440.9426, 481.1036, 490.4434, 495.1133, 556.7557, 618.3983,
          622.1342, 554.8878, 475.4998, 419.4612, 459.6222],
         [441.8766, 446.5465, 487.6415, 496.0473, 500.7172, 564.2276, 625.8701,
          629.6060, 564.2276, 484.8395, 426.9330, 468.0280],
         [446.5465, 451.2164, 494.1793, 503.5191, 507.2550, 571.6994, 633.3419,
          637.0778, 571.6994, 493.2454, 435.3388, 476.4338],
         [453.0844, 456.8203, 501.6511, 510.9909, 514.7268, 579.1713, 640.8137,
          646.4175, 582.9071, 504.4531, 445.6125, 486.7075],
         [459.6222, 464.2921, 510.0569, 519.3967, 523.1326, 590.3789, 653.8894,
          657.6252, 594.1149, 517.5287, 458.6882, 499.7832],
         [469.8959, 475.4998, 523.1326, 536.2083, 538.0762, 607.1906, 670.7009,
          674.4369, 612.7944, 538.0762, 479.2357, 519.3967]]])